@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

.container {
  padding: 15px;
}

.updateBlock {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.updateTitle {
  margin-right: 15px;
}

.updateBtn {
  border: 1px solid black;
  border-radius: 50%;
  color: green;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 0;
}

.CrudTable {
  display: flex;
  margin-bottom: 30px;
}

.crudItem {
  min-width: 300px;
  padding: 30px;
  line-height: 1.5;
  position: relative;
  border: 2px solid black;
  z-index: 1;
  margin-right: 15px;
  text-align: center;
}

.crudDelete {
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  z-index: 2;
  color: red;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: white;
}

.formNewNote {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.formNewNote label {
  font-size: 10px;
  margin-bottom: 15px;
}
.noteArea {
  border: 2px solid black;
  height: 150px;
  vertical-align: top;
  resize: none;
}
.btnForm {
  position: absolute;
  bottom: 5px;
  right: 10px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0 0 0 3px;
  background-color: white;
}

.material-icons {
  cursor: pointer;
}
